<!doctype html>
<html lang ="en">
  <head>
    {% block header %}
    <meta charset='utf-8'>
    <meta description="{{ description | default('Egovelox simple blog') }}">
    <title>{{ title | default('Blog')}}</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.5.0/modern-normalize.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
    <link rel="stylesheet" href="./styles/main.css">

    {% endblock %}
  </head>
  <body>
  <nav>
    <ul id="navbar">
      <li class="nav-item">
      <svg id = "brand" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 245 245"><defs><style>.cls-1{font-size:41px;fill:#fff;font-family:AmericanTypewriter, American Typewriter;}.cls-2{letter-spacing:-0.03em;}</style></defs><title>Fichier 1</title><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><rect width="245" height="245"/><text class="cls-1" transform="translate(57.7 130)">EGO<tspan x="0" y="49.2">VEL</tspan><tspan class="cls-2" x="83.56" y="49.2">O</tspan><tspan x="109.02" y="49.2">X</tspan></text></g></g></svg>
      </li>

      <li class="nav-item">
        <a href="./index.html">&#9783; Articles</a>
      </li>
      <li class="nav-item">
        <a href="./index.html">About</a>
      </li>
      <li class="nav-item">
        <a href="./index.html">Nugae</a>
      </li>
    </ul>
  </nav>
    {% block body %}{% endblock %}
  </body>
  <footer id="footer">&#128736; Jan 2020 with &#128420;</footer>
</html>