{% extends "./base.njk" %}

{% block body %}
  <section>
    <header>
      <h1></h1>
    </header>

    <ul id="indexList">
    {% for post in posts %}
      <li class="indexItem">
        <a href="{{ post.slug }}"><span class="indexPostDate">{{ post.date }}</span><span class="indexPostTitle">{{ post.title }}</span></a>
      </li>
    {% endfor %}
    </ul>

  </section>
{% endblock %}